/*   搜索框   start   */

.input {
    white-space: nowrap;
    margin-top: 22px;
    position: relative;
}

.input .content {
    width: 572px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #b6b6b6;
    padding-left: 8px;
    outline: none;
    margin-left: -58px;
}

.input .content:focus,
.input .content:active {
    border-color: #4791ff;
}

.input .submit {
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 0;
    outline: medium;
    position: absolute;
    top: 0;
    right: -6px;
    cursor: pointer;
}

.input .submit:hover {
    background: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}

.soutu-btn {
    z-index: 1;
    position: absolute;
    right: 106px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: #fff url(../img/header/camera_new_5606e8f.png) no-repeat;
    cursor: pointer;
}

.soutu-btn:hover {
    background-position: 0 -20px;
}


/*   搜索框   end   */





