<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>京东-购物车</title>
    <link rel="shortcut icon" href="./favicon.ico?1" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/header.css"/>
    <link rel="stylesheet" href="static/css/footer.css"/>
    <link rel="stylesheet" href="static/css/recommend.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body ng-app="shopCart">
<!--     主体内容区域  start  -->
<main id="main" class="main" ng-controller="shopCartController">
    <!--     页面头部  start -->
    <header class="header">
        <div class="flex-box">
            <div class="flex-item-2">
                <span><i class="icon-location"></i>通州区永顺镇</span>
            </div>
            <div class="flex-item-2 text-center">
                <span ng-click="isShow=true" class="select">{{selectText}}
                    <i class="direction direction-down"></i></span>
            </div>
            <div class="flex-item-2">
                <a href="#">编辑</a>
            </div>
        </div>
    </header>
    <!--     页面头部  end -->

    <div class="cart-list">
        <section class="cart-list-item" ng-repeat="item in shopCart">
            <header class="flex-box">
                <label class="checkbox">
                    <input type="checkbox" data-shop-id="{{item.shopId}}"/>
                    <i class="checkbox-status"></i>
                </label>
                <div class="flex-item-4">
                    <i class="icon-shop" ng-if="item.shopId == 0"></i>
                    <i class="icon-shop jd" ng-if="item.shopId == 1"></i>
                    <span>{{item.shopName}}</span>
                </div>
                <div class="flex-item-1">
                    <a href="#">{{item.shopActive}}</a>
                </div>
            </header>
            <p class="cart-desc" ng-if="item.desc">{{item.desc}}<i class="icon-notice"></i></p>
            <div ng-repeat="commodity in item.item" class="cart-info-wrap">
                <div class="cart-info flex-box">
                    <div class="flex-item-1">
                        <label class="checkbox">
                            <input type="checkbox" data-id="{{commodity.id}}"/>
                            <i class="checkbox-status"></i>
                        </label>
                        <img class="image" width="80" height="80" alt="" ng-src="{{commodity.imgUrl}}">
                    </div>
                    <div class="flex-item-2">
                        <h3 class="cart-info-name">{{commodity.name}}</h3>
                        <p class="sku">规格：{{commodity.specifications.join(',')}}</p>
                        <p class="price">¥ <em class="int">{{commodity.price[0]}}</em>.{{commodity.price[1]}}</p>
                        <div class="num-and-more">
                            <div class="num-wrap">
                                <span class="minus disabled"></span>
                                <div class="input-wrap"><input
                                        class="num"
                                        type="number"
                                        value="{{commodity.count}}"
                                        data-max="200"></div>
                                <span class="plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <ul class="additional-area">
                        <li class="tips">赠品</li>
                        <li ng-repeat="add in commodity.additional">
                            <div class="des">{{add.desc}}</div>
                            <span class="num">x{{add.count}}</span>
                            <a href="{{add.url}}"><i class="direction direction-right"></i></a>
                        </li>
                    </ul>
                </footer>
            </div>
        </section>
    </div>

    <div class="cart-empty" ng-if="shopCart == null">
        <img src="./static/img/addr_empty.png">
        <p>购物车暂无商品<br>快去挑选商品吧~~</p>
    </div>

    <!--     你可能还想要  start   -->
    <article class="recommend">
        <header>
            <h3 class="recommend-title"><span>你可能还想要</span></h3>
        </header>
        <ul class="recommend-box">
            <li class="recommend-item" ng-repeat="item in recommendList">
                <a href="javascript:void(0);">
                    <span class="cover"><img ng-src="{{item.imgUrl}}"></span>
                    <p class="desc">{{item.name}}</p>
                    <span class="flex-wrap">
                        <span class="price">¥ <em>{{item.price[0]}}</em>.{{item.price[1]}}</span>
                        <i class="buy" data-shop-id="{{item.shopId}}" data-id="{{item.id}}"></i>
                    </span>
                </a>
            </li>
        </ul>
    </article>
    <!--     你可能还想要  end   -->

    <!--     筛选浮层   start -->
    <div class="layer-select" ng-show="isShow">
        <ul>
            <li ng-click="isShow=false" class="layer-select-header">商品筛选</li>
            <li class="{{selected[0]}}" ng-click="queryShopCart(0, '全部商品')"><i class="icon-select"></i>全部商品</li>
            <li class="{{selected[1]}}" ng-click="queryShopCart(1,'降价商品')"><i class="icon-select"></i>降价商品</li>
            <li class="{{selected[2]}}" ng-click="queryShopCart(2,'促销优惠商品')"><i class="icon-select"></i>促销优惠商品</li>
            <li class="{{selected[3]}}" ng-click="queryShopCart(3,'库存紧张商品')"><i class="icon-select"></i>库存紧张商品</li>
            <li class="{{selected[4]}}" ng-click="queryShopCart(4,'京东超市商品')"><i class="icon-select"></i>京东超市商品</li>
        </ul>
    </div>
    <!--     筛选浮层   end -->

    <!--     加入购物车浮层   start   -->
    <div class="add-cart">
        <div class="add-cart-main">
            <div class="add-cart-header">
                <img alt="商品图"
                     src="//img14.360buyimg.com/n1/jfs/t4384/131/3331372937/65059/d90a895d/58df43e5N28134072.jpg">
                <p class="price">¥ <em>5999</em>.00</p>
                <p class="prop"><span>已选</span> 枫叶金, 64G 港版 1个</p>
                <i class="close"></i>
            </div>
            <div class="add-cart-body">
                <div>
                    <div class="sku-kind">颜色</div>
                    <div class="sku-choose" id="sku1">
                        <span class="choice active">枫叶金</span>
                        <span class="choice">珊瑚蓝</span>
                        <span class="choice">幻紫灰</span>
                        <span class="choice">星夜黑</span>
                    </div>
                    <div class="sku-kind">版本</div>
                    <div class="sku-choose" id="sku2">
                        <span class="choice active">64G 港版</span>
                        <span class="choice">64G 国际版</span>
                        <span class="choice">64G 亚太版</span>
                    </div>
                </div>
                <div class="count-choose">
                    <div class="num-and-more pull-right">
                        <div class="num-wrap">
                            <span class="minus disabled"></span>
                            <div class="input-wrap"><input
                                    class="num"
                                    type="number"
                                    value="1"
                                    data-max="200"></div>
                            <span class="plus"></span>
                        </div>
                    </div>
                    <p class="count">数量</p>
                </div>
            </div>

            <div class="add-cart-btn">加入购物车</div>
        </div>
    </div>
    <!--     加入购物车浮层   end   -->
</main>
<!--     主体内容区域  end  -->

<!--     页面尾部  start -->
<footer class="footer">
    <div class="flex-box">
        <div class="flex-item-1">
            <label class="checkbox">
                <input type="checkbox"/>
                <i class="checkbox-status"></i>
                <span>全选</span>
            </label>
        </div>
        <div class="flex-item-2 price-desc">
            <b>总计：<span>￥0.00</span></b>
            <span>(不含运费，已优惠¥0.00)</span>
        </div>
        <div class="flex-item-1">
            <a href="#" class="btn-to-buy"><b>去结算</b><sub>(0件)</sub></a>
        </div>
    </div>
</footer>
<!--     页面尾部  end -->

<!--     回到顶部  -->
<div id="goTop" class="go-top-trigger"></div>

<script src="static/lib/angular/angular.min.js"></script>
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/throttle/throttle.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>