<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>京东-购物车</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/header.css"/>
    <link rel="stylesheet" href="static/css/footer.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body ng-app>
<!--     页面头部  start -->
<header class="header">
    <div class="flex-box">
        <div class="flex-item-2">
            <span><i class="icon-location"></i>通州区永顺镇</span>
        </div>
        <div class="flex-item-1">
            <span class="select">全部商品<i class="direction-down"></i></span>
        </div>
        <div class="flex-item-2">
            <a href="#">编辑</a>
        </div>
    </div>
</header>
<!--     页面头部  end -->

<!--     主体内容区域  start  -->
<main id="main" class="main"></main>
<!--     主体内容区域  end  -->

<!--     页面尾部  start -->
<footer class="footer">
    <div class="flex-box">
        <div class="flex-item-1">
            <label class="checkbox">
                <input type="checkbox"/>
                <i class="checkbox-status"></i>
                <span>全选</span>
            </label>
        </div>
        <div class="flex-item-2 price-desc">
            <b>总结：<span>￥0.00</span></b>
            <span>(不含运费，以优惠0.00)</span>
        </div>
        <div class="flex-item-1">
            <a href="#" class="btn-to-buy"><b>去结算</b><sub>(0件)</sub></a>
        </div>
    </div>
</footer>
<!--     页面尾部  end -->

<!--     回到顶部  -->
<div id="goTop" class="go-top-trigger"></div>

<script src="static/lib/angular/angular.min.js"></script>
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/throttle/throttle.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>