<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>京东-购物车</title>
    <link rel="shortcut icon" href="./favicon.ico?1" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/header.css"/>
    <link rel="stylesheet" href="static/css/footer.css"/>
    <link rel="stylesheet" href="static/css/recommend.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body ng-app="shopCart">
<!--     主体内容区域  start  -->
<main id="main" class="main" ng-controller="shopCartController">
    <!--     页面头部  start -->
    <header class="header">
        <div class="flex-box">
            <div class="flex-item-2">
                <span><i class="icon-location"></i>通州区永顺镇</span>
            </div>
            <div class="flex-item-2 text-center">
                <span class="select">全部商品<i class="direction direction-down"></i></span>
            </div>
            <div class="flex-item-2">
                <a href="#">编辑</a>
            </div>
        </div>
    </header>
    <!--     页面头部  end -->

    <div class="cart-list">
        <section class="cart-list-item" ng-repeat="item in goods">
            <header class="flex-box">
                <label class="checkbox">
                    <input type="checkbox" data-shop-id="{{item.shopId}}"/>
                    <i class="checkbox-status"></i>
                </label>
                <div class="flex-item-4">
                    <i class="icon-shop"></i>
                    <span>{{item.shopName}}</span>
                </div>
                <div class="flex-item-1">
                    <a href="#">优惠券</a>
                </div>
            </header>
            <p class="cart-desc" ng-if="item.desc">{{item.desc}}<i class="icon-notice"></i></p>
            <div ng-repeat="commodity in item.item">
                <div class="cart-info flex-box">
                    <div class="flex-item-1">
                        <label class="checkbox">
                            <input type="checkbox" data-id="{{commodity.id}}"/>
                            <i class="checkbox-status"></i>
                        </label>
                        <img class="image" width="80" height="80" alt="" src="{{commodity.imgUrl}}">
                    </div>
                    <div class="flex-item-2">
                        <h3 class="cart-info-name">{{commodity.name}}</h3>
                        <p class="sku">规格：幻紫灰，64GB 标配</p>
                        <p class="price">¥ <em class="int">{{commodity.price[0]}}</em>.{{commodity.price[1]}}</p>
                        <div class="num-and-more">
                            <div class="num-wrap">
                                <span class="minus disabled"></span>
                                <div class="input-wrap"><input
                                        class="num"
                                        type="number"
                                        value="{{commodity.count}}"
                                        data-max="200"></div>
                                <span class="plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <ul class="additional-area">
                        <li class="tips">赠品</li>
                        <li ng-repeat="add in commodity.additional">
                            <div class="des">{{add.desc}}</div>
                            <span class="num">x{{add.count}}</span>
                            <a href="{{add.url}}"><i class="direction direction-right"></i></a>
                        </li>
                    </ul>
                </footer>
            </div>
        </section>
    </div>

    <!--     你可能还想要  start   -->
    <article class="recommend">
        <header>
            <h3 class="recommend-title"><span>你可能还想要</span></h3>
        </header>
        <ul class="recommend-box">
            <li class="recommend-item" ng-repeat="item in recommendList">
                <a href="#">
                    <span class="cover"><img ng-src="{{item.url}}"></span>
                    <p class="desc">{{item.desc}}</p>
                    <span class="flex-wrap">
                        <span class="price">¥ <em>{{item.price[0]}}</em>.{{item.price[1]}}</span>
                        <i class="buy" data-id="{{item.id}}"></i>
                    </span>
                </a>
            </li>
        </ul>
    </article>
    <!--     你可能还想要  end   -->
</main>
<!--     主体内容区域  end  -->

<!--     页面尾部  start -->
<footer class="footer">
    <div class="flex-box">
        <div class="flex-item-1">
            <label class="checkbox">
                <input type="checkbox"/>
                <i class="checkbox-status"></i>
                <span>全选</span>
            </label>
        </div>
        <div class="flex-item-2 price-desc">
            <b>总计：<span>￥0.00</span></b>
            <span>(不含运费，已优惠¥0.00)</span>
        </div>
        <div class="flex-item-1">
            <a href="#" class="btn-to-buy"><b>去结算</b><sub>(0件)</sub></a>
        </div>
    </div>
</footer>
<!--     页面尾部  end -->

<!--     回到顶部  -->
<div id="goTop" class="go-top-trigger"></div>

<script src="static/lib/angular/angular.min.js"></script>
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/throttle/throttle.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/js/data.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>