<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
</head>

<body>
<!-- 导航  start -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img width="50" alt="Brand" src="./static/img/logo.png"/>
            </a>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a>admin</a></li>
                <li><a href="login.html">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- 导航  end -->
<!-- 主内容  start -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div id="navbar" class="collapse navbar-collapse">
                <!-- 左菜单  start -->
                <div class="panel-group" id="accordion">
                    <div data-type="0" data-text="精选" class="panel panel-default active">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-asterisk"></span>精选</h4>
                        </div>
                    </div>
                    <div data-type="1" data-text="百家" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-plus"></span>百家</h4>
                        </div>
                    </div>
                    <div data-type="2" data-text="本地" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-euro"></span>本地</h4>
                        </div>
                    </div>
                    <div data-type="3" data-text="娱乐" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-search"></span>娱乐</h4>
                        </div>
                    </div>
                    <div data-type="4" data-text="社会" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-th-list"></span>社会</h4>
                        </div>
                    </div>
                    <div data-type="5" data-text="军事" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-film"></span>军事</h4>
                        </div>
                    </div>
                    <div data-type="6" data-text="女人" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-qrcode"></span>女人</h4>
                        </div>
                    </div>
                    <div data-type="7" data-text="搞笑" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-print"></span>搞笑</h4>
                        </div>
                    </div>
                    <div data-type="8" data-text="互联网" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-indent-right"></span>互联网
                            </h4>
                        </div>
                    </div>
                    <div data-type="9" data-text="科技" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-move"></span>科技</h4>
                        </div>
                    </div>
                    <div data-type="10" data-text="生活" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-align-right"></span>生活</h4>
                        </div>
                    </div>
                    <div data-type="-1" data-text="回收站" class="panel panel-default">
                        <div class="panel-heading hand">
                            <h4 class="panel-title button"><span class="glyphicon glyphicon-trash"></span>回收站</h4>
                        </div>
                    </div>
                </div>
                <!-- 左菜单  end -->
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a id="pageTitle" href="#"></a>
                                <a data-toggle="modal" data-target="#addModal" class="pull-right"><i
                                        class="glyphicon glyphicon-plus"></i></a>
                            </h3>
                        </div>
                        <div id="main" class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   表格模板     -->
<script id="template" type="text/x-handlebars-template">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="5%">序号</th>
                <th width="30%">标题</th>
                <th width="30%">图片地址</th>
                <th width="10%">日期</th>
                <th width="10%">来源</th>
                <th width="15%">操作</th>
            </tr>
            </thead>
            <tbody>
            {{#each list}}
            <tr>
                <td>{{index @index ../currentPage}}</td>
                <td title="{{title}}"><span data-text-hidden class="text-hidden">{{title}}</span></td>
                <td title="{{imgSrc}}"><span data-text-hidden class="text-hidden">{{imgSrc}}</span></td>
                <td>{{formatDate date}}</td>
                <td>{{from}}</td>
                {{#bool status 0}}
                <td>
                    <button data-update data-id="{{id}}" type="button" class="btn btn-primary">编辑</button>
                    <button data-del data-id="{{id}}" type="button" class="btn btn-danger">删除</button>
                </td>
                {{else}}
                <td>
                    <button data-on data-id="{{id}}" type="button" class="btn btn-primary">恢复</button>
                </td>
                {{/bool}}
            </tr>
            {{/each}}
            {{#unless list.length}}
                <tr>
                    <td colspan="6"><p class="text-muted">没有数据！</p></td>
                </tr>
            {{/unless}}
            </tbody>
        </table>
    </div>
    {{#if totalPage}}
    <div class="pull-right">
        <ul class="pagination">

            {{#bool currentPage 0}}
            <li class="disabled"><a href="#"><span>&laquo;</span></a></li>
            {{else}}
            <li data-page="{{reduceOne currentPage}}"><a href="#"><span>&laquo;</span></a></li>
            {{/bool}}

            {{#each totalPage}}

            {{#bool ../currentPage @index}}
            <li data-page="{{@index}}" class="active"><a href="#">{{addOne @index}}</a></li>
            {{else}}
            <li data-page="{{@index}}"><a href="#">{{addOne @index}}</a></li>
            {{/bool}}

            {{/each}}

            {{#bool currentPage 'length'}}
            <li class="disabled"><a href="#"><span>&raquo;</span></a></li>
            {{else}}
            <li data-page="{{addOne currentPage}}"><a href="#"><span>&raquo;</span></a></li>
            {{/bool}}

        </ul>
    </div>
    {{/if}}
</script>

<!--   弹框模板     -->
<script id="modalTemplate" type="text/x-handlebars-template">
    <div class="modal fade" data-update-modal>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="update_title" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="update_title"
                                       name="title"
                                       value="{{title}}"
                                       placeholder="标题不能为空"/>
                                <span class="text-danger">标题不能为空</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update_imgSrc" class="col-sm-2 control-label">图片地址</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="update_imgSrc"
                                       name="imgSrc"
                                       value="{{imgSrc}}"
                                       placeholder="图片地址不能为空"/>
                                <span class="text-danger">图片地址不能为空</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update_date" class="col-sm-2 control-label">日期</label>
                            <div class="col-sm-10">
                                <input type="date"
                                       class="form-control"
                                       id="update_date"
                                       name="date"
                                       value="{{formatDate date}}"
                                       placeholder="日期不能为空"/>
                                <span class="text-danger">日期不能为空</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update_from" class="col-sm-2 control-label">来源</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       id="update_from"
                                       name="from"
                                       value="{{from}}"
                                       placeholder="来源不能为空"/>
                                <span class="text-danger">来源不能为空</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-update-save type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</script>

<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">增加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="title" placeholder="标题不能为空"/>
                            <span class="text-danger">标题不能为空</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imgSrc" class="col-sm-2 control-label">图片地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="imgSrc" name="imgSrc" placeholder="图片地址不能为空"/>
                            <span class="text-danger">图片地址不能为空</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-sm-2 control-label">日期</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="date" name="date" placeholder="日期不能为空"/>
                            <span class="text-danger">日期不能为空</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="from" class="col-sm-2 control-label">来源</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="from" name="from" placeholder="来源不能为空"/>
                            <span class="text-danger">来源不能为空</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="addSave" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">确定删除这个新闻？</div>
            <div class="modal-footer">
                <button type="button" id="delSave" class="btn btn-primary">删除</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="onModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">恢复</h4>
            </div>
            <div class="modal-body">确定恢复这个新闻？</div>
            <div class="modal-footer">
                <button type="button" id="onSave" class="btn btn-primary">恢复</button>
            </div>
        </div>
    </div>
</div>
<div id="msg" class="center-block">
    <div class="alert alert-warning alert-dismissible">
        <strong>操作成功!</strong>
    </div>
</div>
<!-- 主内容  end -->
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="static/lib/tools/tools.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/lib/handlebars/handlebars.min.js"></script>
<script src="static/js/index.js"></script>
</body>

</html>
