.icon,
.nav-icon {
    position: relative;
    top: 3px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.nav-icon {
    margin-left: 0 !important;
}

.sina {
    background-image: url(../img/index/my-focus/95496.png?__sprite);
}

.geci {
    background-image: url(../img/index/my-focus/6000.png?__sprite);
}

.bdy {
    background-image: url(../img/index/my-focus/7656.png?__sprite);
}

.bdy {
    background-image: url(../img/index/my-focus/7656.png?__sprite);
}

.sichuan {
    background-image: url(../img/index/my-focus/2556.png?__sprite);
}

.zhiboba {
    background-image: url(../img/index/my-focus/10677.png?__sprite);
}

.zhiboba {
    background-image: url(../img/index/my-focus/10677.png?__sprite);
}

.zhejaing {
    background-image: url(../img/index/my-focus/6000.png?__sprite);
}

.weishi {
    background-image: url(../img/index/my-focus/94836.png?__sprite);
}

.leshi {
    background-image: url(../img/index/my-focus/95533.png?__sprite);
}

.tielu {
    background-image: url(../img/index/my-focus/81407.png?__sprite);
}

.wangpan {
    background-image: url(../img/index/my-focus/7656.png?__sprite);
}

.dnf {
    background-image: url(../img/index/my-focus/95577.png?__sprite);
}

.game {
    background-image: url(../img/index/my-focus/95619.png?__sprite);
}

.brick {
    background-image: url(../img/index/my-focus/7276.png?__sprite);
}

.wo-99 {
    background-image: url(../img/index/my-focus/80647.png?__sprite);
}

.taobao {
    background-image: url(../img/index/my-focus/95487.png?__sprite);
}

.nuomi {
    background-image: url(../img/index/my-nav/9483.png?__sprite);
}

.jd {
    background-image: url(../img/index/my-nav/95541.png?__sprite);
}

.one {
    background-image: url(../img/index/my-nav/95780.png?__sprite);
}

.suning {
    background-image: url(../img/index/my-nav/95537.png?__sprite);
}

.vip {
    background-image: url(../img/index/my-nav/95693.png?__sprite);
}

.dd {
    background-image: url(../img/index/my-nav/95517.png?__sprite);
}

.aikang {
    background-image: url(../img/index/my-nav/8850.png?__sprite);
}

.csdn {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.datetime {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.apple {
    background-image: url(../img/index/my-nav/7617.png?__sprite);
}

.pandd {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.jquery {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.linux {
    background-image: url(../img/index/my-nav/7656.png?__sprite);
}

.zhuangji {
    background-image: url(../img/index/my-nav/95541.png?__sprite);
}

.baidyun {
    background-image: url(../img/index/my-nav/7656.png?__sprite);
}

.pdf {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.txsp {
    background-image: url(../img/index/my-nav/95570.png?__sprite);
}

.star {
    background-image: url(../img/index/my-nav/7656.png?__sprite);
}

.github {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.bs {
    background-image: url(../img/index/my-nav/6000.png?__sprite);
}

.zbb {
    background-image: url(../img/index/my-nav/10677.png?__sprite);
}

.gg {
    background-image: url(../img/index/my-nav/8510.png?__sprite);
}

.baiduvip {
    background-image: url(../img/index/my-nav/7656.png?__sprite);
}

.wrsd {
    background-image: url(../img/index/my-nav/9321.png?__sprite);
}