/*   reset   start   */

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'microsoft YaHei';
    -webkit-font-smoothing: antialiased;
    background-color: #e8e8ed;
    width: 100%;
    height: 100%;
}

html {
    font-size: 100px;
}

body {
    font-size: .12rem;
    line-height: 1;
}

li,
ul {
    list-style: none;
}

p,
li,
ul,
dd,
dt,
dl,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

a, dd, div, dl, i, img, input, li, p, span, ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:link,
a:visited {
    border: 0 none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

sub {
    vertical-align: middle;
}

/*   reset   end   */

/*    左浮动  右浮动  start   */

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

/*    左浮动  右浮动  end   */

/*   字体居中   */
.text-center {
    text-align: center;
}

/*   块居中   */
.block-center {
    margin: 0 auto;
}

/*   清除浮动   */
.clear:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 0;
    font-size: 0;
    clear: both;
}


/*   弹性盒模型   start   */

.flex-box {
    display: flex;
    height: inherit;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 2;
}

.flex-item-3 {
    flex: 3;
}

.flex-item-4 {
    flex: 4;
}

.flex-item-5 {
    flex: 5;
}

.flex-item-6 {
    flex: 6;
}

.flex-item-7 {
    flex: 7;
}

.flex-item-8 {
    flex: 8;
}

.flex-item-9 {
    flex: 9;
}

.flex-item-10 {
    flex: 10;
}

.flex-item-11 {
    flex: 11;
}

.flex-item-12 {
    flex: 12;
}

/*   弹性盒模型   end   */