*+html nav {
    width: 480px;
    right: 24px;
}

*+html .qrcode-text {
    padding: 4px 0;
}

*+html .right-menu-wrap {
    top: -25px;
}

*+html .right-menu-wrap .more {
    position: relative;
    right: -14px;
    white-space: nowrap;
}

*+html .right-menu a {
    height: auto;
}

*+html .cart {
    background-image: url(img/ie-cart.jpg);
    background-position: center 81%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 40px;
    top: -34px;
    margin-bottom: -40px;
    position: absolute;
}

*+html .input .content {
    margin-top: -1px;
}

*+html .submit:hover {
	outline: 0 none;
	border: 1px solid #2868c8;
}