.footer {
    margin-top: 50px !important;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

/*   底部导航  start   */

.footer-nav {
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

.footer-logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

.footer-logo img {
    width: 109px;
    height: 40px;
    display: block;
}

.footer-logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.footer dl {
    width: 135px;
    color: #808080;
    float: left;
}

.footer dt {
    font-size: 14px;
    line-height: 30px;
}

.footer dd a {
    font-size: 12px;
    line-height: 30px;
    color: #999999;
}

.footer dd a:hover {
    color: #35b558;
}

.code-down {
    position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

.code-down .hot-tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

.code-down .code-down-icon {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}

.code-down-icon img {
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}

.code-down-icon:hover img {
    display: block;
}

.code-down .down-android {
    background: url(../img/footer/icon-down-and.png) no-repeat 0 0;
    background-size: 30px 30px;
}

.code-down .down-ios {
    background: url(../img/footer/icon-down-ios.png) no-repeat 0 0;
    background-size: 30px 30px;
}

/*   底部导航  end   */

/*   底部  start   */
.footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}

.footer .copyright strong {
    font-weight: 400;
}

.footer .copyright a {
    color: #999;
}

.footer .copyright a.down-wechat {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../img/footer/icon-down-wechat.png) no-repeat 0 0;
    background-size: 18px 15px;
}

.footer .copyright a.down-sina {
    float: right;
    height: 15px;
    width: 20px;
    margin-right: 10px;
    background: url(../img/footer/icon-down-sina.png) no-repeat 0 0;
    background-size: 20px 15px;
}

.footer .cert {
    display: block;
    margin: 15px auto 0;
}

/*   底部  end   */