html,
body {
  margin: 0;
  padding: 0;
  font-family: 'microsoft YaHei';
  font-size: 14px;
  min-width: 600px;
  min-height: 800px;
  color: #333;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h3,
p {
  margin: 0;
  padding: 0;
}
article {
  width: 400px;
  margin: 30px auto;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 10px 10px #eee;
  -webkit-box-shadow: 0 0 10px 10px #eee;
  box-shadow: 0 0 10px 10px #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section {
  margin: 10px 0;
}
.board-title {
  text-align: center;
  border-bottom: 1px solid #eee;
  line-height: 40px;
  font-size: 21px;
}
.board-content {
  background-color: #3b5f46;
  font-size: 0;
  padding: 0 10px 10px;
  text-align: center;
}
.board-content li {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  width: 1em;
  word-wrap: break-word;
  vertical-align: top;
  text-align: center;
}
.board-footer {
  font-size: 12px;
  text-align: center;
  position: relative;
  height: 40px;
  padding-top: 14px;
  width: 90%;
  margin: 0 auto;
}
.board-footer:after {
  content: '';
  display: block;
  background-color: #c73d3a;
  width: 90%;
  height: 5px;
  position: absolute;
  left: 18px;
  top: 40px;
}
.board-footer:before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-top: 12px solid transparent;
  border-left: 30px solid #ab2539;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  position: absolute;
  right: 0;
  top: 33px;
  transform: skewX(30deg);
}
.board-num {
  float: left;
  text-align: right;
}
.board-num b {
  font-size: 42px;
  color: #fff;
  display: block;
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #c73d3a;
}
.board-num span {
  font-size: 11.2px;
  font-weight: bold;
}
.board-location {
  padding-left: 180px;
  text-align: center;
  position: relative;
}
.board-name {
  color: #c73d3a;
  font-size: 21px;
  letter-spacing: 5px;
  margin-top: 4px;
}
.board-location-name {
  color: #3b5f46;
  font-weight: bold;
  font-size: 15.4px;
  float: left;
  width: 100px;
}
.board-location-name span {
  font-weight: normal;
  font-size: 11.2px;
}
.line {
  display: block;
  width: 10px;
  background-color: #3b5f46;
  height: 1px;
  float: left;
  position: relative;
  top: 10px;
}
.clear {
  overflow: hidden;
}
