<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>百度新闻</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/lib/swiper-3.4.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body>

<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/swiper-3.4.2/js/swiper.min.js"></script>
<script src="static/lib/throttle/throttle.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>