/*     底部样式    start     */
.footer {
    border-top: 1px solid #e0e0e2;
    height: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: hsla(0, 0%, 100%, .95);
    z-index: 5;
}

.btn-to-buy {
    background-color: #d7d7d7;
    text-align: center;
    font-size: .16rem;
    color: #999;
    line-height: 3;
    letter-spacing: 1px;
    display: block;
    height: 100%;
}

.price-desc {
    text-align: right;
    padding-right: 0.1rem;
}

.price-desc b {
    display: block;
    font-size: .16rem;
    line-height: 1.4;
    margin-top: 0.045rem;
}

.price-desc b span {
    color: #e4393c;
}

.price-desc > span {
    color: #666;
    font-size: .1rem;
}

.footer-btn-wrap {
    padding: 0.1rem;
    text-align: right;
}
.footer-btn {
    display: inline-block;
    margin-left: 0.05rem;
    width: 0.69rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #666;
    border-radius: 2px;
}

.footer-btn.btn-share {
    background: #3884ff;
    color: #fff;
}

.footer-btn.btn-move {
    background: #666;
    color: #fff;
}

.footer-btn.btn-del {
    background: #f19325;
    color: #fff;
}

.footer-btn-buy {
    background: #e4393c;
    color: #fff;
}

/*     底部样式    end     */
