/*   头部样式   start   */
.header {
    border-bottom: 2px solid #e0e0e2;
    height: 0.45rem;
    line-height: .45rem;
    box-sizing: border-box;
    background-color: #f2f2f7;
}

.header .flex-item-2 span {
    color: #555;
    font-size: .14rem;
    margin-left: .2rem;
    padding-left: 0.1rem;
    position: relative;
    display: block;
}

.header .icon-location {
    display: block;
    background-image: url(../img/location.png);
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    top: 0.14rem;
    left: -0.14rem;
}

.header .flex-item-2 .select {
    background-color: #fff;
    display: inline-block;
    height: .28rem;
    padding-right: .1rem;
    margin-top: 0.08rem;
    text-align: center;
    line-height: .28rem;
    box-shadow: 0 0 0.02rem 0.02rem #eee;
    border-radius: 2px;
}

.header .direction-down {
    transform: rotate(45deg);
}

.header .flex-item-2 a {
    color: #3985ff;
    font-size: .14rem;
    float: right;
    margin-right: .1rem;
}

/*   头部样式   end   */
