/*   页面主体样式     start   */

.cart-list-item {
    background-color: #fff;
    position: relative;
    margin-bottom: 0.15rem;
    overflow: hidden;
}

.cart-list-item .checkbox {
    margin-right: 0.2rem;
}

.cart-list-item header {
    min-height: 0.45rem;
    padding: 0.075rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.cart-list-item header span {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding-right: 0.1rem;
    line-height: 0.3rem;
    width: 100%;
}

.cart-list-item header a {
    display: block;
    height: 0.3rem;
    line-height: 0.3rem;
    z-index: 1;
    position: relative;
    font-size: 12px;
    color: #3985ff;
    text-align: right;
    margin-right: .1rem;
}

.cart-list-item .icon-shop {
    width: 0.16rem;
    height: 0.15rem;
    margin-right: 0.05rem;
    margin-top: 0.08rem;
    background: url(../img/shopcart_icon.png) no-repeat;
    background-size: 0.35rem auto;
    background-position: 0 0;
    float: left;
}

.cart-list-item .icon-shop.jd {
    background-position: -0.2rem 0.02rem;
}

.cart-list-item .cart-desc {
    min-height: 0.45rem;
    padding: 0.1rem;
    font-size: 12px;
    line-height: 2;
    color: #666;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.cart-list-item .icon-notice {
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.02rem;
    margin-left: 0.05rem;
    width: 0.12rem;
    height: 0.12rem;
    background: url(../img/notice.png) no-repeat;
    background-size: 0.12rem auto;
}

.additional-area {
    margin: 0 0.1rem 0.1rem 0.35rem;
    font-size: 12px;
    color: #666;
    position: relative;
    padding-left: 0.45rem;
    background-color: #fff9f9;
}

.additional-area li {
    padding: 0.07rem 0.52rem 0.07rem 0;
    position: relative;
}

.additional-area .des {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.additional-area .num {
    position: absolute;
    top: 0.07rem;
    right: 0.23rem;
}

.additional-area .direction-right {
    position: absolute;
    transform: rotate(-45deg) scale(.8);
    top: 0.08rem;
    right: 0.1rem;
}

.additional-area li.tips {
    padding: 0;
    position: absolute;
    left: 0.1rem;
    top: 0.06rem;
    width: 0.24rem;
    height: 0.13rem;
    line-height: 0.13rem;
    text-align: center;
    font-size: 10px;
    color: #e4393c;
}

.additional-area li.tips:after {
    content: "";
    display: block;
    border: 1px solid #e4393c;
    position: absolute;
    top: 0.02rem;
    left: 0;
    pointer-events: none;
    bottom: -100%;
    right: -100%;
    border-radius: 2px;
    transform: scale(.5);
    transform-origin: 0 0;
}

/*   页面主体样式     end   */

/*   商品信息   start   */
.cart-info-wrap {
    border-bottom: 1px solid #ddd;
}

.cart-info {
    position: relative;
    padding: 0.15rem 0.1rem 0.15rem 0;
}

.cart-info .checkbox {
    position: relative;
    top: 0.18rem;
    float: left;
}

.cart-info-name {
    height: 0.36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    line-height: 1.2;
}

.cart-info .flex-item-2 {
    padding-left: 0.1rem;
}

.cart-info .sku {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    margin: 0.07rem 0;
    padding: 0.09rem 0.25rem 0.09rem 0.05rem;
    border-radius: 2px;
    width: 2.75rem;
}

.cart-info .sku:after {
    content: "";
    display: block;
    width: 0.08rem;
    height: 0.08rem;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    top: 50%;
    right: 0.06rem;
    margin-top: -0.07rem;
}

.cart-info .sku:before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #ddd;
    border: 1px solid #ddd;
    top: 0;
    left: 0;
    background: none;
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    border-radius: 4px;
}

.cart-info .price {
    color: #e4393c;
    font-size: 10px;
}

.cart-info .price em {
    font-size: 14px;
    font-style: normal;
}

/*   商品信息   end   */

/*   商品个数计算  start   */
.num-and-more {
    margin-top: 0.05rem;
    overflow: hidden;
}

.num-wrap {
    position: relative;
    display: block;
    width: 1.0rem;
    border-radius: 3px;
    overflow: hidden;
}

.num-wrap input,
.num-wrap span {
    position: relative;
    float: left;
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    background-color: #fff;
}

.num-wrap .minus:after,
.num-wrap .plus:after,
.num-wrap .plus:before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "\20";
    display: block;
    width: 0.16rem;
    height: 0.02rem;
    margin: -0.01rem 0 0 -0.08rem;
    background: #666;
    border-radius: 1px;
}

.num-wrap .disabled:after,
.num-wrap .disabled:before {
    background: #ccc;
}

.num-wrap .input-wrap {
    float: left;
    position: relative;
}

.num-wrap .num {
    -webkit-appearance: none;
    border-radius: 0;
    width: 0.4rem;
    height: 0.3rem;
    line-height: normal;
    border-left: 0;
    border-right: 0;
    font-size: 12px;
    background: #fff;
    text-align: center;
    border: none;
}

.num-wrap .input-wrap:before {
    z-index: 1;
    border-right: 1px solid #ccc;
    -webkit-transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    bottom: -100%;
    left: 10%;
    width: 0.005rem;
}

.num-wrap .input-wrap:after {
    border-right: 1px solid #ccc;
    -webkit-transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    bottom: -100%;
    right: -100%;
}

.num-wrap .plus {
    float: right;
}

.num-wrap .plus:before {
    width: 0.02rem;
    height: 0.16rem;
    margin: -0.08rem 0 0 -0.01rem;
    border-radius: 1px;
}

.num-wrap:after {
    border-radius: 6px;
    content: "";
    display: block;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    bottom: -90%;
    right: -100%;
}

/*   商品个数计算  end   */
/*   空数据显示   start   */
.cart-empty {
    margin: 0.5rem 0 0.2rem;
    text-align: center;
    color: #666;
}

.cart-empty img {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 auto 0.1rem;
    border: 0 none;
    vertical-align: top;
}

.cart-empty p {
    line-height: 1.5;
}

/*   空数据显示   end   */

/*   筛选浮层    start  */
.layer-select {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    font-size: 12px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.layer-select ul {
    position: relative;
    width: 80%;
    margin: 40% auto 0;
    background: rgba(0, 0, 0, .8);
    border-radius: 0.03rem;
}

.layer-select li {
    position: relative;
    padding: 0.15rem 0 0.15rem 0.25rem;
    margin: 0 0.1rem;
    color: #fff;
}

.layer-select li.layer-select-header {
    position: relative;
    padding: 0;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    margin: 0;
}

.layer-select li.layer-select-header:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../img/close.png);
    background-size: 0.15rem;
    background-repeat: no-repeat;
    background-position: 0.25rem 0.05rem;
}

.icon-select {
    z-index: 1;
    left: 0;
    width: 0.42rem;
    height: 0.43rem;
    font-style: normal;
}

.layer-select .icon-select {
    width: 0.34rem;
}

.layer-select .icon-select:after {
    top: 0.14rem;
    margin-left: -0.18rem;
    background: url(../img/radio.png) no-repeat 0 0;
    background-size: 0.2rem 0.4rem;
}

.icon-select:after {
    left: 50%;
    content: "\20";
    width: 0.2rem;
    height: 0.2rem;
    margin-left: -0.1rem;
}

.layer-select .icon-select:after {
    top: 0.14rem;
    margin-left: -0.18rem;
    background: url(../img/radio.png) no-repeat 0 0;
    background-size: 0.2rem 0.4rem;
}

.icon-select, .icon-select:after {
    display: block;
    position: absolute;
    top: 0;
}

.icon-select:after {
    background: url(../img/shopcart_v2.png);
    background-size: 0.6rem 0.4rem;
}

.layer-select li.selected .icon-select:after {
    background-position: 0 -0.2rem;
}

.layer-select li:before {
    content: "";
    height: 0;
    display: block;
    border-bottom: 1px solid #474747;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 50% 0;
}

/*   筛选浮层    end  */

/*   加入购物车浮层   start   */
.add-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 301;
    background-color: rgba(0, 0, 0, .7);
}

.add-cart-main {
    position: absolute;
    -webkit-transform: translate3d(0, 4.2rem, 0);
    transform: translate3d(0, 4.2rem, 0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(0, 0, .25, 1);
    transition: -webkit-transform .2s cubic-bezier(0, 0, .25, 1);
    transition: transform .2s cubic-bezier(0, 0, .25, 1);
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #fff;
    -webkit-transform: translateZ(0);
}

.add-cart-header {
    height: 0.7rem;
    line-height: 1.5;
    padding: 0 0 0.1rem 1.1rem;
    background-color: #fff;
    position: relative;
    color: #333;
    border: 0 none;
    box-sizing: content-box;
}

.add-cart-header img {
    position: absolute;
    left: 0.1rem;
    top: -0.2rem;
    border-radius: 7px;
    width: 0.9rem;
    height: 0.9rem;
    background-color: #fff;
}

.add-cart-header .price {
    height: 0.4rem;
    line-height: 0.4rem;
    color: #e4393c;
    font-size: 10px;
    font-weight: 700;
}

.add-cart-header em {
    font-size: 16px;
}

.add-cart-header .prop {
    word-break: break-all;
    font-size: 12px;
    color: #333;
    line-height: 1.4em;
    padding-right: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.add-cart-header span {
    color: #999;
}

.add-cart-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.4rem;
    height: 0.4rem;
}

.add-cart-header .close:after {
    content: "";
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.17rem;
    height: 0.17rem;
    background: url(../img/close2.png) no-repeat 0.01rem 0.01rem;
    background-size: 0.15rem;
}

.add-cart-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 3.2rem;
}

.add-cart-body .sku-kind {
    font-size: 12px;
    color: #333;
    margin: 0 0.1rem;
    height: 0.33rem;
    line-height: 0.33rem;
}

.add-cart-body .sku-choose {
    font-size: 12px;
    overflow: hidden;
    margin-bottom: -0.05rem;
}

.add-cart-body .sku-choose .choice {
    display: inline-block;
    padding: 0 0.15rem;
    min-width: 0.2rem;
    max-width: 2.7rem;
    overflow: hidden;
    height: 0.25rem;
    line-height: 0.25rem;
    float: left;
    text-align: center;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
    border-radius: 3px;
    color: #333;
    background-color: #f3f2f8;
}

.add-cart-body .sku-choose .choice.active {
    background-color: #e4393c;
    color: #fff;
}

.add-cart-body .count-choose {
    padding: 0.1rem 0.1rem 0.15rem;
    font-size: 12px;
    margin-bottom: 0.9rem;
}

.add-cart-body .count-choose .count {
    color: #333;
    height: 0.31rem;
    line-height: 0.31rem;
}

.add-cart-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e4393c;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
}

/*   加入购物车浮层   end   */

/*   添加成功   start   */

.sku-tip {
    display: block;
    padding: 0.05rem 0.1rem;
    font-size: 14px;
    line-height: 1.5;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -0.28rem;
    border-radius: 4px;
    box-shadow: 0 0 0.03rem 0.03rem hsla(0, 0%, 59%, .7);
}

/*   添加成功   end   */