/*   页面主体样式     start   */
.main {
}

.cart-list-item {
    background-color: #fff;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}

.cart-list-item .checkbox {
    margin-right: 20px;
}

.cart-list-item header {
    min-height: 45px;
    padding: 7.5px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.cart-list-item header span {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    padding-right: 10px;
    line-height: 30px;
    width: 100%;
}

.cart-list-item header a {
    display: block;
    height: 30px;
    line-height: 30px;
    z-index: 1;
    position: relative;
    font-size: 12px;
    color: #3985ff;
    text-align: right;
    margin-right: .1rem;
}

.cart-list-item .icon-shop {
    width: 16px;
    height: 15px;
    margin-right: 5px;
    margin-top: 8px;
    background: url(../img/shopcart_icon.png) no-repeat;
    background-size: 35px auto;
    background-position: 0 0;
    float: left;
}

.cart-list-item .icon-shop.jd {
    background-position: -20px 2px;
}

.cart-list-item .cart-desc {
    min-height: 45px;
    padding: 10px;
    font-size: 12px;
    line-height: 2;
    color: #666;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.cart-list-item .icon-notice {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    background: url(../img/notice.png) no-repeat;
    background-size: 12px auto;
}

.additional-area {
    margin: 0 10px 10px 35px;
    font-size: 12px;
    color: #666;
    position: relative;
    padding-left: 45px;
    background-color: #fff9f9;
}

.additional-area li {
    padding: 7px 52px 7px 0;
    position: relative;
}

.additional-area .des {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.additional-area .num {
    position: absolute;
    top: 7px;
    right: 23px;
}

.additional-area .direction-right {
    position: absolute;
    transform: rotate(-45deg) scale(.8);
    top: 8px;
    right: 10px;
}

.additional-area li.tips {
    padding: 0;
    position: absolute;
    left: 10px;
    top: 6px;
    width: 24px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    font-size: 10px;
    color: #e4393c;
}

.additional-area li.tips:after {
    content: "";
    display: block;
    border: 1px solid #e4393c;
    position: absolute;
    top: 2px;
    left: 0;
    pointer-events: none;
    bottom: -100%;
    right: -100%;
    border-radius: 2px;
    transform: scale(.5);
    transform-origin: 0 0;
}

/*   页面主体样式     end   */

/*   商品信息   start   */
.cart-info-wrap {
    border-bottom: 1px solid #ddd;
}

.cart-info {
    position: relative;
    padding: 15px 10px 15px 0;
}

.cart-info .checkbox {
    position: relative;
    top: 18px;
    float: left;
}

.cart-info-name {
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    color: #333;
    font-weight: normal;
    line-height: 1.2;
}

.cart-info .flex-item-2 {
    padding-left: 10px;
}

.cart-info .sku {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    margin: 7px 0;
    padding: 9px 25px 9px 5px;
    border-radius: 2px;
    width: 275px;
}

.cart-info .sku:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -7px;
}

.cart-info .sku:before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #ddd;
    border: 1px solid #ddd;
    top: 0;
    left: 0;
    background: none;
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    border-radius: 4px;
}

.cart-info .price {
    color: #e4393c;
    font-size: 10px;
}

.cart-info .price em {
    font-size: 14px;
    font-style: normal;
}

/*   商品信息   end   */

/*   商品个数计算  start   */
.num-and-more {
    margin-top: 5px;
    overflow: hidden;
}

.num-wrap {
    position: relative;
    display: block;
    width: 100px;
    border-radius: 3px;
    overflow: hidden;
}

.num-wrap input,
.num-wrap span {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}

.num-wrap .minus:after,
.num-wrap .plus:after,
.num-wrap .plus:before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "\20";
    display: block;
    width: 16px;
    height: 2px;
    margin: -1px 0 0 -8px;
    background: #666;
    border-radius: 1px;
}

.num-wrap .disabled:after,
.num-wrap .disabled:before {
    background: #ccc;
}

.num-wrap .input-wrap {
    float: left;
    position: relative;
}

.num-wrap .num {
    -webkit-appearance: none;
    border-radius: 0;
    width: 40px;
    height: 30px;
    line-height: normal;
    border-left: 0;
    border-right: 0;
    font-size: 12px;
    background: #fff;
    text-align: center;
    border: none;
}

.num-wrap .input-wrap:before {
    z-index: 1;
    border-right: 1px solid #ccc;
    -webkit-transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    bottom: -100%;
    left: -100%;
}

.num-wrap .input-wrap:after {
    border-right: 1px solid #ccc;
    -webkit-transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    bottom: -100%;
    right: -100%;
}

.num-wrap .plus {
    float: right;
}

.num-wrap .plus:before {
    width: 2px;
    height: 16px;
    margin: -8px 0 0 -1px;
    border-radius: 1px;
}

.num-wrap:after {
    border-radius: 6px;
    content: "";
    display: block;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 0 0;
    bottom: -90%;
    right: -100%;
}

/*   商品个数计算  end   */
/*   空数据显示   start   */
.cart-empty {
    margin: 50px 0 20px;
    text-align: center;
    color: #666;
}

.cart-empty img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    border: 0 none;
    vertical-align: top;
}

.cart-empty p {
    line-height: 1.5;
}

/*   空数据显示   end   */

/*   筛选浮层    start  */
.layer-select {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    font-size: 12px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.layer-select ul {
    position: relative;
    width: 80%;
    margin: 40% auto 0;
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;
}

.layer-select li {
    position: relative;
    padding: 15px 0 15px 25px;
    margin: 0 10px;
    color: #fff;
}

.layer-select li.layer-select-header {
    position: relative;
    padding: 0;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0;
}

.layer-select li.layer-select-header:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 45px;
    height: 45px;
    background-image: url(../img/close.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 25px 5px;
}

.icon-select {
    z-index: 1;
    left: 0;
    width: 42px;
    height: 43px;
    font-style: normal;
}

.layer-select .icon-select {
    width: 34px;
}

.layer-select .icon-select:after {
    top: 14px;
    margin-left: -18px;
    background: url(../img/radio.png) no-repeat 0 0;
    background-size: 20px 40px;
}

.icon-select:after {
    left: 50%;
    content: "\20";
    width: 20px;
    height: 20px;
    margin-left: -10px;
}

.layer-select .icon-select:after {
    top: 14px;
    margin-left: -18px;
    background: url(../img/radio.png) no-repeat 0 0;
    background-size: 20px 40px;
}

.icon-select, .icon-select:after {
    display: block;
    position: absolute;
    top: 0;
}

.icon-select:after {
    background: url(../img/shopcart_v2.png);
    background-size: 60px 40px;
}

.layer-select li.selected .icon-select:after {
    background-position: 0 -20px;
}

.layer-select li:before {
    content: "";
    height: 0;
    display: block;
    border-bottom: 1px solid #474747;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 50% 0;
}

/*   筛选浮层    end  */

/*   加入购物车浮层   start   */
.add-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 301;
    background-color: rgba(0, 0, 0, .7);
}

.add-cart-main {
    position: absolute;
    -webkit-transform: translate3d(0, 420px, 0);
    transform: translate3d(0, 420px, 0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(0, 0, .25, 1);
    transition: -webkit-transform .2s cubic-bezier(0, 0, .25, 1);
    transition: transform .2s cubic-bezier(0, 0, .25, 1);
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: #fff;
    -webkit-transform: translateZ(0);
}

.add-cart-header {
    height: 70px;
    line-height: 1.5;
    padding: 0 0 10px 110px;
    background-color: #fff;
    position: relative;
    color: #333;
    border: 0 none;
    box-sizing: content-box;
}

.add-cart-header img {
    position: absolute;
    left: 10px;
    top: -20px;
    border-radius: 7px;
    width: 90px;
    height: 90px;
    background-color: #fff;
}

.add-cart-header .price {
    height: 40px;
    line-height: 40px;
    color: #e4393c;
    font-size: 10px;
    font-weight: 700;
}

.add-cart-header em {
    font-size: 16px;
}

.add-cart-header .prop {
    word-break: break-all;
    font-size: 12px;
    color: #333;
    line-height: 1.4em;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.add-cart-header span {
    color: #999;
}

.add-cart-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.add-cart-header .close:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    background: url(../img/close2.png) no-repeat 1px 1px;
    background-size: 15px;
}

.add-cart-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 320px;
}

.add-cart-body .sku-kind {
    font-size: 12px;
    color: #333;
    margin: 0 10px;
    height: 33px;
    line-height: 33px;
}

.add-cart-body .sku-choose {
    font-size: 12px;
    overflow: hidden;
    margin-bottom: -5px;
}

.add-cart-body .sku-choose .choice {
    display: inline-block;
    padding: 0 15px;
    min-width: 20px;
    max-width: 270px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #333;
    background-color: #f3f2f8;
}

.add-cart-body .sku-choose .choice.active {
    background-color: #e4393c;
    color: #fff;
}

.add-cart-body .count-choose {
    padding: 10px 10px 15px;
    font-size: 12px;
    margin-bottom: 90px;
}

.add-cart-body .count-choose .count {
    color: #333;
    height: 31px;
    line-height: 31px;
}

.add-cart-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #e4393c;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
}

/*   加入购物车浮层   end   */
