/*     你可能还想要   start     */
.recommend-title {
    position: relative;
    height: 40px;
    line-height: 0.4rem;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.recommend-title:after {
    content: '';
    top: 50%;
    left: 17.3%;
    right: 17.3%;
    z-index: 1;
    height: 0;
    display: block;
    border-bottom: 1px solid #666;
    position: absolute;
}

.recommend-title span {
    padding: 0 0.1rem 0 0.3rem;
    background: #e8e8ed url(../img/recommend.png) no-repeat 0.12rem 0;
    background-size: 0.11rem;
    position: relative;
    z-index: 2;
}

/*     你可能还想要   end     */

/*     推荐项   start */
.recommend-box {
    font-size: 0;
    overflow: hidden;
    padding-bottom: .7rem;
}

.recommend-item {
    width: 49.5%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0.07rem;
    background: #fff;
    margin-top: 0.04rem;
    display: inline-block;
}
.recommend-item a {
    display: block;
}
.recommend-item:nth-child(2n) {
    float: right;
}

.recommend-item .cover {
    position: relative;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    display: block;
}

.recommend-item .cover img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.recommend-item .desc {
    padding: 0 0.1rem;
    margin: 0.05rem 0;
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.recommend-item .flex-wrap {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 0.36rem;
}

.recommend-item .price {
    padding-left: 0.1rem;
    font-size: 10px;
    color: #e4393c;
    display: block;
}

.recommend-item .price em {
    font-size: 14px;
    font-style: normal;
}
.recommend-item .buy{
    position: absolute;
    display: block;
    bottom: 0.1rem;
    right: 0.1rem;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 3px;
    background: #f2f2f7 url(../img/cart.png) no-repeat;
    background-size: 0.15rem;
    background-position: 0.07rem 0.08rem;
}
/*     推荐项   end */
