/*   基础样式  start  */
.wrap {
    min-height: 500px;
    width: 800px;
    margin: 85px auto 30px;
    box-shadow: 0 0 5px #ddd;
    position: relative;
}

form {
    padding-top: 50px;
    width: 100%;
}

.btn {
    margin-bottom: 30px;
}

/*   基础样式  end  */