/*	 页面基本样式	*/

html,
body {
    padding: 0;
    margin: 0;
    font: 12px arial;
    color: #333;
    width: 100%;
    height: 100%;
}

.hand {
    cursor: pointer;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.hand:hover {
    opacity: .5;
}

.index-item {
    display: block;
    text-decoration: none !important;
}

a:focus {
    outline: 0 none;
}

[data-toggle="modal"] {
    cursor: pointer;
}

form .text-danger {
    display: none;
}

/*	 覆盖左菜单  start	*/

#accordion .panel {
    margin-bottom: 0;
    border-radius: 0;
}

#accordion .panel + .panel {
    margin-top: 0;
}

.glyphicon {
    margin-right: .8em;
}

/*	 覆盖左菜单  end	*/
[data-type].active {
    opacity: .5;
}

/*   表格样式  start   */
table {
    margin-bottom: 0 !important;
}

td, th {
    text-align: center;
    vertical-align: middle !important;
    white-space: nowrap;
}

td .text-muted {
    margin: 0 !important;
}

/*   表格样式  end   */

/*   加载动画   start   */

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

.spinner:after,
.spinner:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.spinner:before {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/*   加载动画   end   */

/*   字符串截断   */
.text-hidden {
    display: block;
    width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*   提示信息  start   */

#msg {
    display: none;
    position: fixed;
    width: 30%;
    text-align: center;
    top: 16%;
    left: 38%;
    z-index: 9999999;
}

.popover {
    color: #333333;
}

/*   提示信息  end   */