<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>百度新闻</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="static/lib/swiper-3.4.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="static/css/base.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body>
<!--     页面头部  start -->
<header>
    <div class="top">
        <a href="#" class="top-icon top-baidu"></a>
        <a href="#" class="top-icon top-user"></a>
        <div class="pull-right">
            <a href="#" class="top-icon top-add"></a>
            <a href="#" class="top-icon top-search"></a>
        </div>
    </div>
    <nav>
        <div class="nav">
            <ul id="navLinks" class="nav-links">
                <li data-type="0" class="active"><a href="#">精选</a></li>
                <li data-type="1"><a href="#">百家</a></li>
                <li data-type="2"><a href="#">本地</a></li>
                <li data-type="3"><a href="#">娱乐</a></li>
                <li data-type="4"><a href="#">社会</a></li>
                <li data-type="5"><a href="#">军事</a></li>
                <li data-type="6"><a href="#">女人</a></li>
                <li data-type="7"><a href="#">搞笑</a></li>
                <li data-type="8"><a href="#">互联网</a></li>
                <li data-type="9"><a href="#">科技</a></li>
                <li data-type="10"><a href="#">生活</a></li>
            </ul>
        </div>
    </nav>
</header>
<!--     页面头部  end -->

<!--     主体内容区域  start  -->
<main id="main"></main>
<!--     主体内容区域  end  -->

<!--     回到顶部  -->
<div id="goTop" class="go-top-trigger"></div>
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/swiper-3.4.2/js/swiper.min.js"></script>
<script src="static/lib/throttle/throttle.js"></script>
<script src="static/lib/storage/storage.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>